@charset "utf-8";

@import "normalize.scss";

* {margin: 0; padding: 0; border: 0; user-select: none;}

html, body {
  background-color: #000000;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
}

a {
  text-decoration: none;
  color: white;
}

*:focus {
    outline: none;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000ff;
}

.lines-canvas {
  position: relative;
  // background-color: #ccc;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.hover-div-1 {
  position: fixed;
  left: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: 0px;
  background-color: #666;
  opacity: 0.5;
  cursor: pointer;
}

.hover-div-2 {
  position: fixed;
  right: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-right: 0px;
  background-color: #666;
  opacity: 0.5;
  cursor: pointer;
}